%style
  :sass
    table
      th, td
        :border 1px solid
        :padding 2px
      tr#WS_method_vol2pseudo td.WS_operation, tr#WS_method_vol2pseudo_params td.WS_operation 
        :font-weight bold
%p
  Download the 
  %a{ :href =>'/wsdl'} WSDL file
  = $driver.documentation
