%form(action = '/' method = 'post' enctype = 'multipart/form-data')
  %h3 
    1. Volume file
    %a(href='/example') (example)
  %input{:type=>"file",:name=>"file"}
  #slideToggle{:class => "pusher"}
    %h3 2. Advanced options
  .mover
    #leftside
      - @options1.each do |k|
        - name = k
        - value = OPTIONS[k]
        %h4= name
        - case
          - when Fixnum === value || Float === value || String === value
            %input{:name => name, :value => value}
          - when FalseClass === value || TrueClass === value
            %input{:name => name, :value => value ? 1 : 0}
          - else
    #rightside
      - @options2.each do |k|
        - name = k
        - value = OPTIONS[k]
        %h4= name
        - case
          - when Fixnum === value || Float === value || String === value
            %input{:name => name, :value => value}
          - when FalseClass === value || TrueClass === value
            %input{:name => name, :value => value ? 1 : 0}
          - else

  %h3 3. Name your job (optional)
  %input(name='name')
  %p
  %input(type='submit')

